<!DOCTYPE>
<html>
  <head>
    <title>Input Polls</title>
    <link rel="stylesheet" type="text/css" href="/static/css/FormStyle.css">
  </head>

  <body>
    <h1>Input New Polls for Graph</h1>
    <form method="POST" action="/VAdata">
      <h2>Enter Race Information</h2>
      <input type="text" name="State" placeholder="State">
      <input type="text" name="Race" placeholder="Race">
      <h2>Enter Data</h2>
      <input type="text" name="Date" placeholder="Date">
      <input type="text" name="String1" placeholder="Kaine">
      <input type="text" name="String2" placeholder="Comstock">
      <input type="text" name="String3" placeholder="Ingraham">
      <input type="text" name="String4" placeholder="Fiorina">
      <input type="text" name="String5" placeholder="Stewart">
      <input type="text" name="Source" placeholder="Source">
      <input type="text" name="Headline" placeholder="Headline">
      <h2>Remove polls from Graph</h2>
      <input type="text" name="ID" placeholder="ID">


      <input type="submit" name="Submit">
    </form>
  </body>
</html>
